/**{
  outline: 1px solid red;
}*/
/* navbar */
.navbar{
  background: #5eaff9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1748aa, #5eaff9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #1748aa, #5eaff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.navbar-item {
  color: #d4e9ff;
}

a.navbar-link{
  color: #d4e9ff;
}

.navbar-item.drop{
  color: #1748aa;
}

a.navbar-link:after{
border-color: #d4e9ff;
}

.navbar-img{
  height: 60px;
  margin-top: 3px;
  margin-left: 2px;
}

a.button.is-primary{
background-color:#1748aa;
color: #d4e9ff;
}

a.button.is-primary:hover {
background: rgba(0,0,0,0);
color: #d4e9ff;
box-shadow: inset 0 0 0 3px #d4e9ff;
}

.nav-logged p{
  color:white;
  font-size: 20px;
}
/* Login */

.section-login {
  background: url("./images/log.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.login-form{
  background-color: #f7f7f7;
  height: 350px;
  width: 400px;
  margin:50px;
  padding: 20px;
  box-shadow: 2px 2px 30px #353535;
}

.login-form p{
  color: #052562;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}



.here{
  color: #f81f5c;
}

/* home */
.section-content-home {
  background: url("./images/build5.png");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}

.section-home_call p{
  color: white;
  font-weight: bolder;
  font-size: 40px;
  margin-right: 30px;
}

.text_blue{
  font-weight: bolder;
  font-size: 50px;
}

.button.is-inverted.is-outlined{
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: #ffffff;
  color: #1748aa;
  margin-top: 20px;
}

.button.is-inverted.is-outlined:hover {
background: #1748aa;
color: #ffffff;
box-shadow: inset 0 0 0 3px #ffffff;
}

/* Acerce de*/
.section-about-home {
  background: #5eaff9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1748aa,#5eaff9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #1748aa,#5eaff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-about-home p{
  color: white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: auto;
  padding: 50px;
  width: 90%;
}

.section-about p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 60%;
}

.section-about{
  background: #f7f7f7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#e8ebed, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#e8ebed, #f7f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-about-img img{
  display: block;
}

/*Como funciona */

.section-how img{
  display: block;
}

.column-img{
  display: block;
  height: 200px;
  margin: auto;
}

.section-how-home{
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#d9dcdd, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#d9dcdd, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cols-how-home{
  display: flex;
  justify-content: center;
  margin: 0 15px;
}

.cols-how-home p{
  color: #052562;
  font-size: 18px;
}

.cols-how-home strong{
  color: #052562;
  font-size: 24px;
}

/*Sign up*/
.section-signup {
  background: url("./images/signup.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.signup-form{
  background-color: #f7f7f7;
  height: 280px;
  width: 400px;
  margin:50px;
  padding: 20px;
  box-shadow: 2px 2px 30px #353535;
}

.signup-form p{
  color: #052562;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.field{
  width: 100px;
}

input.input{
  border-color: #f81f5c;
}

button.button.is-primary{
  background-color: #f81f5c;
}

button.button.is-primary:hover{
  background-color: #1748aa;
}

/* Contacto */

.field{
  width: 50%;
  margin: auto;
}

.section-contact-img img{
  display: block;
}
.section-contact-form{
  height: 400px;
  background: #f7f7f7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#e8ebed, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#e8ebed, #f7f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Dashboard*/
.column-dashboard{

}

.column-dashboard p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

/*Properties*/

.properties-inputs{
  margin: 20px 0 20px 0;
  height: 400px;
}

/*PropertiesRegistered*/

.table{
  margin: 40px auto;
}

.section-departments{
  height: 80vh;
}

.section-properties{
  height: 80vh;
}

.section-properties p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.section-departments p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.section-money{
  height: 90vh;
}

.section-money p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.section-balance p{
  color: #052562;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.balance-columns{
  display: flex;
}

.balance-columns-incomes{
  width: 50%;
}

.balance-columns-expenses{
  width: 50%;
}

.section-balance{
  height: 100vh;
}
button.button.action{
  margin: 0px;
}

p.buttons{
  padding: 10px;
  width: 56px;
}

div.field.is-grouped{

}
/* footer */
.footer{
  height: 240px;
  background: #5eaff9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1748aa,#5eaff9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #1748aa,#5eaff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section-footer-home{
  background: #5eaff9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1748aa,#5eaff9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #1748aa,#5eaff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-footer-home p{
  color: white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  width: 95%;
}
a.link_footer {
  color: white;
}

.balance-button{

  margin: 40px 50%;

}

/*responsive table*/

@media only screen and (max-width: 800px) {

 .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
 * html .cf { zoom: 1; }
 *:first-child+html .cf { zoom: 1; }

 table { width: 100%; border-collapse: collapse; border-spacing: 0; }

 th,
 td { margin: 0; vertical-align: top; }
 th { text-align: left; }

 table { display: block; position: relative; width: 100%; }
 thead { display: block; float: left; }
 tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
 thead tr { display: block; }
 th { display: block; text-align: right; }
 tbody tr { display: inline-block; vertical-align: top; }
 td { display: block; min-height: 1.25em; text-align: left; }


	/* sort out borders */

 th { border-bottom: 0; border-left: 0; }
 td { border-left: 0; border-right: 0; border-bottom: 0; }
 tbody tr { border-left: 1px solid #babcbf; }
 th:last-child,
 td:last-child { border-bottom: 1px solid #babcbf; }

div.field.is-grouped{
  display: block;
}

}

@media only screen and (max-width: 1088px) {

.navbar-item.drop{
  color: white;
}

.navbar-menu{
  background-color: none;
}
}